 @media screen and ( min-width: 768px ) and ( max-width: 940px ) 
{
	.content-wrapper{
		width: 90%;
	}
/* --------Slider--------------------- */	
	.slide-image img{
		width: 90%;
	}
/* --------Services--------------------- */		
	.block-services {
		margin:0 20px;
	}
	.advants-margin{
		margin: 0;
	}
/* --------Contacts --------------------- */		
	.contact-info{
		width:100%;
		text-align:center;
	}
	
}

@media screen and ( min-width: 640px ) and ( max-width: 768px ) 
{
	.content-wrapper{
		width: 90%;
	}
/* --------Slider--------------------- */	
	.slide-image img{
		width: 90%;
	}
/* --------Services--------------------- */		
	.block-services {
		margin:0 10px;
	}
	.advants-margin{
		margin: 0;
	}
/* --------About As--------------------- */	
	.contact-list{
		text-align:center;
		width:90%;
	}
/* --------Contacts --------------------- */		
	.contact-info{
		width:100%;
		text-align:center;
	}
	
}

@media screen and ( max-width: 640px ) 
{
	.content-wrapper{
		width: 480px;
		margin:0 10px;
	}	

	.header-menu-margin{
	display:block;
	margin-bottom:210px;
	margin-top:-210px;
}
/* -------- Header--------------------- */
	header{
		height: inherit;
	}

	.logo-text{
		text-align: center;
		width: 100%;
		margin: 5px 0;
	}

	.top-menu{
		position: static;
		text-align: center;
		margin: 20px 10px;
	}

	.top-menu li+li:before{
		content: "";
	}

	.top-menu ul li{
		display: block;
		margin: 3px 0;
	}

	.top-menu li a{
		padding: 0;
	}
/* --------Services--------------------- */	
	.table-advantes{
		text-align:center;
	}
	
/* --------About As--------------------- */	
	.contact-list{
		text-align:center;
		width:90%;
	}
/* --------Contacts --------------------- */	
	.contact-info{
		width:100%;
		text-align:center;
	}
}

