.main {
  text-align: justify;
  font-size: 0;
}
.main:after {
  content: '';
  display: inline-block;
  width: 100%;
}
h1, .image {
  text-align: left;
  font-size: medium;
}
.image {
  vertical-align: top;
  display: inline-block;
  width: 30.3571%;
  background-color:#0AA;
}